*{
    padding: 0;
    margin: 0;
}
#row1{
background-color: #35363A;
height: 30px;
width: 100%;
}
.top-section{
    width: 90%;
    margin: 0 auto;
}
.left-links{
    width: 60%;
    float: left;
    height: 100%;
}
.left-links ul{}
.left-links ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
    color: #fff;
    line-height: 30px;
}
.left-links ul li a{
    color: #fff;
    text-decoration: none;
}
.social-links{
    width: 30%;
    float: right;
    height: 100%;
    text-align: right;
}
.social-links i{
    color: #fff;
    line-height: 30px;
    border-right: 2px solid #000;
    padding-right: 8px;
}
/* row-1 CSS End */

/* row-2 CSS End */
#row2{
    height: 80px;
    width: 100%;
    background: #fff;
}
.header_section{
    width: 90%;
    margin: 0 auto;
}
.logo{
    width: 30%;
    float: left;
}
.logo img{
    height: 60px;
    margin-top: 10px;
}
.menu{
    width: 65%;
    float: right;
}
.menu ul{}
.menu ul li{
    float: left;
    line-height: 80px;
    width: 106px;
    text-align: center;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #455964;
}
.menu ul li i{
    height: 30px;
    width: 30px;
    border: 2px solid #455964;
    border-radius: 100%;
    line-height: 30px;
}
/* row-3 CSS End */
#row3{
    height: 500px;
    width: 100%;
    background-image:url(../images/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: round;
    position: relative;
}
#overlayrow3{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
}
.banner_section{
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    margin: 0 auto;
}
.banner_content{}
.banner_content h1{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 70px;
    padding-top:200px;
}
.banner_content p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}
.banner_button{

}
.banner_button button{
    background: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 10px;
}
.banner_button button:hover{
    background-color: #455964;
    transition: 1s;
}
/* row-3 CSS end */
/* row-4 CSS start */
#row4{
    height: 80px;
    width: 100%;
    background: #234757;
}
.form_section{
    width: 90%;
    margin: 0 auto;
}
.text_part{
    width: 15%;
    float: left;
    text-transform: uppercase;
    padding-top: 10px;
}
.text_part h4{
    line-height: 32px;
}
.text_part h1{
    color: #fff;
}
.form_part{
    padding-top: 23px;
}
.form_part form{
    width: 80%;
    float: left;
}
.input_item{
    float: left; 
    width: 416px;
}
.input_item label{
    font-size: 18px;
    font-weight: 500;
    color: gray;
    padding-right: 15px;
}
.input_item input[type="text"]{
    padding: 8px;
    width: 320px;
    color: gray;

}
.input_item input[type="date"]{
    padding: 8px;
    width: 320px;
    color: gray;
}
.input_item i{
    color: gray;
    position: absolute;
    margin-left: -26px;
    line-height: 35px;
}
.form_part button{
    padding: 10px 15px;
    background: lightgray;
    border: none;
}   
/* row-4 CSS end */

/* row-5 CSS start */
#row5{
    height: 500px;
    width: 100%;
    background: #fff;
}
.offer_section{
    width: 90%;
    margin: 0 auto;
}
.offer_top{
    text-align: center;
    padding: 40px 0px;
}
.offer_top h2{}
.offer_top p{}
.offer_button{}
.all_offer_items{}
.offer_item{
    width: 230px;
    float: left;
    margin-left: 40px;
    border: 4px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px;
    padding: 5px;
    transition: 1s;
}
.offer_item:hover{
transform: scale(1.2);
}
.offer_item img{
    width: 100%;
    height: 150px;
}
.offer_text{
    width: 80%;
    float: left;
}
.offer_text h3{}
.offer_text h4{}
.offer_icon{
    width: 10%;
    float: left;

}
.offer_icon i{}

/* row-5 CSS end */